# Store One

An e-commerce company, Store One, recently started collecting data about its customers.  
Store One's ultimate goal is to better understand its customers' behavior and make data-driven decisions to improve their online experience.

As part of the analytics team, your first task is to assess the quality of a sample of collected data and prepare it for future analysis.

## 1. Exploring and Fixing the Data
Store One aims to ensure consistency in data collection. As part of this initiative, the quality of data collected about users must be assessed. You have been asked to review the data collected and propose changes. Below you will see data about a particular user; review the data and identify any potential issues.

In [1]:
# Random User information

user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

**Improvements:**

1. The data type for `user_id` should be changed from a `string` to an `integer`.

2. The variable `user_name` contains a string that has unnecessary spaces and an underscore between the first and last name. And  name and last name should be splitted.

3. The data type for `user_age` is incorrect, it should be an `integer` instead of a  `float`.

4. The list `fav_categories` contains uppercase strings. Instead, we should convert the values ​​in the list to lowercase.

### 1.1 User Name

Let's implement the changes we identified. First, we need to fix the problems with the `user_name` variable. As we saw, it has unnecessary spaces and an underscore as a separator between the first and last name.

In [2]:
user_name = ' mike_reed '
user_name = user_name.strip() # remove spaces in the original string
user_name = user_name.replace("_", " ") # replace the underscore with the space

# Results
print('User Name:', user_name)

User Name: mike reed

Next, we need to split the updated `user_name` into two substrings to get a list containing two values: the string for the first name and the string for the last name.

In [3]:
user_name = 'mike reed'
name_split = user_name.split(" ") # split the string user_name

# Results
print('User Name splitted:', name_split)

User Name splitted: ['mike', 'reed']

### 1.2 User Age

Now we need to work with the `user_age` variable. As we already mentioned, it has an incorrect data type. Let's fix this problem by transforming the data type and displaying the final result.

In [4]:
user_age = 32.0
user_age = int(user_age) # change the data type for the age of a user

# Check the result
if isinstance(user_age, int):
    print("Converted user_age to int.")
else:
    print("user_age is not an int.")

Converted user_age to int.

We need to consider scenarios where the value of `user_age` cannot be converted to an integer. To prevent our system from crashing, we need to take measures in advance.

**Write a code that attempts to convert the variable `user_age` to an integer and assigns the transformed value to `user_age_int`. If the attempt fails, we display a message asking the user to provide his or her age as a numerical value with the message: `Please provide your age as a numerical value.`**

In [5]:

user_age = 'twenty seven' # Here is the variable that stores the age as a string.

# Write a code that tries to transform user_age into an integer and if it fails, prints the specified message 


try:
    user_age_int = int(user_age)
except ValueError:
    print("Please provide your age as a numerical value.")

Please provide your age as a numerical value.

### 1.3 Favorite Categories 

**Finally, consider that all favorite categories are stored in uppercase. To crate a new list called `fav_categories_low` with the same categories, but in lowercase, iterate over the values ​​in the `fav_categories` list, modify them, and add the new values ​​to the `fav_categories_low` list.**

In [6]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = [] # New empty list

# Convert each category in fav_categories to lowercase and add it to fav_categories_low
for category in fav_categories:
    fav_categories_low.append(category.lower()) 

# Results
print('Fav categories lowered:', fav_categories_low)

Fav categories lowered: ['electronics', 'sport', 'books']

## 2. Metrics

We have obtained additional information about our users' spending habits, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

- Total amount spent by the user.
- Minimum amount spent.
- Maximum amount spent.

Let's calculate these values:

In [7]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)# Total amount spent by the user
max_amount = max(spendings_per_category)# Maximun amount spent
min_amount = min(spendings_per_category)#  Minimun amount spent

# Results
print('Total amount spent by the user:', total_amount)
print('Maximun amount spent by the user:', max_amount)
print('Minimun amount spent by the user:', min_amount)

Total amount spent by the user: 1280
Maximun amount spent by the user: 894
Minimun amount spent by the user: 173

## 3. Discounts 

The company wants to offer discounts to its loyal customers. Customers who make purchases totaling more than $1500 are considered loyal and will receive a discount.

Create a `while` loop that checks the total amount spent and stops when it reaches it. To simulate new purchases, the `new_purchase` variable outputs a number between 30 and 80 on each iteration of the loop. This represents the amount of money spent on a new purchase and is what needs to be added to the total.

Once the target amount is reached and the `while` loop ends, the final amount will be displayed.

In [8]:
from random import randint

total_amount_spent = 1280
target_amount = 1500
purchase_count = 0  # Counter to track the number of purchases

# Keep adding purchases until the target amount is reached
while total_amount_spent < target_amount:
    new_purchase = randint(30, 80)  # Generate a random amount between 30 and 80
    total_amount_spent += new_purchase
    purchase_count += 1  # Increment purchase count

# Print the final amount spent and the number of purchases made
print(f"Total amount spent: {total_amount_spent}")
print(f"Total items: {purchase_count}")

Total amount spent: 1510
Total items: 4

## 4. Summarize all the information about an user


Now we have all the information about a customer the way we want it. A company's management asked us to come up with a way to summarize all the information about an user.
Your goal is to create a formatted string that uses information from the variables `user_id`, `user_name`, and `user_age`.

This is the final string we want to create: `User 32415 is mike who is 32 years old.`

In [9]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

# Format user information into a string with the full name
user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old." 

# Results
print('Complete User Information:', user_info)

Complete User Information: User 32415 is mike who is 32 years old.

Businesses collect and store data in a particular way. Store 1 wants to store all the information about its customers in a table.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

In technical terms, a table is simply a nested list containing a sublist for each user.

Store 1 has created such a table for its users. It is stored in the variable `users`. Each sublist contains the user's ID, first and last name, age, favorite categories, and the amount spent on each category.

## 5. Income

To calculate the company's revenue, follow these steps.

1. Use `for` to iterate over the `users` list.
2. Extract the list of expenses for each user and add the values.
3. Update the revenue value with the total for each user.

This will give you the company's total revenue, which you will display on the screen at the end.

In [10]:
users = [
	  # this is the start of the first sublist
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # this is the start of the first sublist

    # this is the start of the first sublist
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # this is the start of the first sublist
]

revenue = 0

for user in users:
    spendings_list = user[-1]# extracts the list of expenses for each user and sums the values
    total_spendings = sum(spendings_list) # sums the expenses of all categories to get the total for a particular user
    revenue += total_spendings # update revenue

# Results
print('Total Income:', revenue)

Total Income: 2109

### 5.1 Users under 30 years old

Go through the list of users we have provided and see the names of customers under 30 years of age.

In [11]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

# Create an empty list to store full names of users under 30
users_under_30 = []

# Iterate over each user in the users list
for user in users:
    age = user[2]  # Assume age is stored at index 2 in each user entry
    
    # Check if the user's age is less than 30
    if age < 30:
        # Combine the first and last name, assumed to be stored at index 1, into a full name
        full_name = ' '.join(user[1])
        
        # Append the full name to the list of users under 30
        users_under_30.append(full_name)

# Print the list of users under 30 years old
print('List of users under 30 years old:')
print(users_under_30)

List of users under 30 years old:
['kate morgan', 'samantha smith', 'emily brown', 'jose martinez', 'james lee']

### 5.2 Users who are under 30 years old and have a total expenditure of more than 1000 dollars.

In [12]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

# List to store full names of users under 30 with spendings over 1000
high_spending_young_users = []

# Iterate over each user in the users list
for user in users:
    age = user[2]  # Assume age is at index 2
    
    # Check if the user's age is less than 30
    if age < 30:
        spendings = user[-1]  # Assume spendings are stored in the last position
        
        # Calculate the total spendings
        total_spendings = sum(spendings)
       
        # Check if total spendings exceed 1000
        if total_spendings > 1000:
            # Combine first and last name, assumed to be at index 1
            full_name = ' '.join(user[1])
            
            # Add full name to the list
            high_spending_young_users.append(full_name)

# Print the list of users under 30 with spendings over 1000
print("Users under 30 with spendings over 1000:")
print(high_spending_young_users)

Users under 30 with spendings over 1000:
['samantha smith', 'james lee']

### 5.3 Name and age of all users who have purchased clothes

In [13]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

# List to store information of users who have purchased clothes
users_with_clothes = []

# Iterate over each user in the users list
for user in users:
    user_id, name, age, categories, amounts = user  

    # Check if 'clothes' is in the user's categories
    if 'clothes' in categories:
        # Format the user's full name and age
        full_name = f"{name[0]} {name[1]}: {age}"
        
        # Append the information to the list
        users_with_clothes.append(full_name)

# Print the users who have purchased clothes
print("Users who have purchased clothes:")
for user_info in users_with_clothes:
    print(user_info)

Users who have purchased clothes:
kate morgan: 24
samantha smith: 29
maria garcia: 33
lisa wilson: 35
james lee: 28

**This is just a practice exercise on the basics of Python. The main goal is to practice `Python Syntax`.**